.friends-list-wrapper {
  padding: 8px;
  padding-top: 0px;
  margin: 10px 100px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-shadow: 10px 10px 5px #62a8a8;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid gray;
  padding: 0 20px;
}

.friends-list:nth-child(even) {
  background-color: #f2f2f2;
}

.friends-list:hover {
  background-color: #ddd;
}

/* .friends-email {
  color: red;
} */
